<!DOCTYPE html>
<html>
<head>
	<title>Online Quiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/animate 1.css">
	<link rel="stylesheet" type="text/css" href="css/online style.css">
   
  <style>
    .wow:first-child {
      visibility: hidden;
    }
  </style>
  
</head>
<body>
 
 <!-- Start Header  -->
 <header>
 	 <div class="container">
 	 	<div class="logo">
 	 		 <a href="">Online <span>Quiz</span></a>
 	 	</div>
          <div class="containerr">
            <a href="login.html">login</a>
            
          </div>
          <div class="conta">
            <a href="register form.html">Register</a>
            
          </div>
 	 	<a href="javascript:void(0)" class="ham-burger">
 	       <span></span>	
 	       <span></span>
 	 	</a>
          
 	 	<div class="nav">
 	 		<ul>
 	 			<li><a href="#home">Home</a></li>
 	 			<li><a href="#service">About us</a></li>
 	 			<!-- <li><a href="#about">Services</a></li> -->
 	 			<li><a href="#classes">courses</a></li>
 	 			 <li><a href="#schedule">Services</a></li>
 	 			<li><a href="#price">Testimonal</a></li>
 	 			<li><a href="#contact">Contact</a></li>
 	 		</ul>
 	 	</div>
 	 </div>
 </header>
 <!-- End Header  -->

  <!-- Start Home -->
  <section class="home wow flash" id="home">
  	 <div class="container">
  	 	  <h1 class="wow slideInLeft" data-wow-delay="1s">It's <span>Online</span>Quiz</h1>
  	 	  <h1 class="wow slideInRight" data-wow-delay="1s">We are ready to <span>Test Now</span></h1>
  	 </div>
       
  	  <!-- go down -->
  	      <a href="#price" class="go-down">
  	      	  <i class="fa fa-angle-down" aria-hidden="true"></i>
  	      </a>
  	  <!-- go down -->

  </section>
  <!-- End Home -->

  <section class="gallery" id="gallery">
    <h2>About Us</h2>
   
</section>
 <!-- Start About -->
 <section class="service" id="service">
    <div class="container">
         <div class="content">
               <div class="text box wow slideInLeft">
                 <h2>About us</h2>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                 <!-- <a href="" class="btn">Start Now</a> -->
               </div>
               <div class="accordian box wow slideInRight">
                       <div class="accordian-container active">
                           <div class="head">
                               <h4>Java</h4>
                               <span class="fa fa-angle-down"></span>
                           </div>
                           <div class="body">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                           </div>
                       </div>
                       <div class="accordian-container">
                           <div class="head">
                               <h4>PHP</h4>
                               <span class="fa fa-angle-up"></span>
                           </div>
                           <div class="body">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                           </div>
                       </div>
                       <div class="accordian-container">
                           <div class="head">
                               <h4>Phython</h4>
                               <span class="fa fa-angle-up"></span>
                           </div>
                           <div class="body">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                           </div>
                       </div>
                       <div class="accordian-container">
                           <div class="head">
                               <h4>C program</h4>
                               <span class="fa fa-angle-up"></span>
                           </div>
                           <div class="body">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                           </div>
                       </div>
                       <div class="accordian-container">
                        <div class="head">
                            <h4>ASP.Net</h4>
                            <span class="fa fa-angle-up"></span>
                        </div>
                        <div class="body">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </div>
                    <div class="accordian-container">
                        <div class="head">
                            <h4>Javascript</h4>
                            <span class="fa fa-angle-up"></span>
                        </div>
                        <div class="body">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </div>
                    <div class="accordian-container">
                        <div class="head">
                            <h4>C++</h4>
                            <span class="fa fa-angle-up"></span>
                        </div>
                        <div class="body">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </div>
                    <div class="accordian-container">
                        <div class="head">
                            <h4>Ruby</h4>
                            <span class="fa fa-angle-up"></span>
                        </div>
                        <div class="body">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </div>
               </div>
         </div>
    </div>
</section>
 

 <!-- Start Classes -->
<section class="classes" id="classes">
    <section id="course">

	<h1 class="heading">our latest courses</h1>
    <div class="box wow bounceInUp">

<div class="box-container">
    

  <div class="box" data-aos="flip-right">
      
    <img src="https://static.javatpoint.com/images/logo/javahome.png" alt="">
   
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
    <!-- <a href="">java</a> -->
  </div>

  <div class="box" data-aos="flip-down">
    <img src="https://static.javatpoint.com/cpp/images/cpp-home.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>

  <div class="box" data-aos="flip-left">
    <img src="https://static.javatpoint.com/images/logo/clanguagehome.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="https://static.javatpoint.com/images/logo/pythonhome.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="https://static.javatpoint.com/asp/images/asp-net-home.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="https://static.javatpoint.com/images/logo/php-logo.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>
  <div class="box" data-aos="flip-right">
    <img src="https://static.javatpoint.com/images/logo/javascripthome.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>
  <div class="box" data-aos="flip-right">
    <img src="https://static.javatpoint.com/images/logo/html-tutorial.png" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolor fuga soluta quo quos delectus praesentium aliquam officia? Repellendus, natus.</p>
  </div>

</div>
</section>

</section>
<!-- End Classes -->

<!-- Start Today -->
 <section class="start-today">
 	<div class="container">
 		 <div class="content">
 		 	  <div class="box text wow slideInLeft">
 		 	  	 <h2>Start Your exam Today</h2>
 		 	  	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
 		 	  	 <a href="" class="btn">Start Now</a>
 		 	  </div>
 		 	  <div class="box img wow slideInRight">
 		 	  	 <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/online-test-1711983-1457575.png" alt="start today" />
 		 	  </div>

 		 </div>
 	</div>
 </section>
<!-- End Start Today -->
<!-- Start Schedule -->
<section class="schedule" id="schedule">
    <section id="service">

        <h1 class="heading">what we offer?</h1>
        <div class="box wow slideInLeft">
        
        <div class="box-container">
        
          <div class="box" data-aos="flip-up">
              
            <img src="images/service1.svg" alt="">
            <div class="info">
              <h2>skilled teachers</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
            </div>
          </div>
        
          <div class="box" data-aos="flip-down">
            <img src="images/service2.svg" alt="">
            <div class="info">
              <h2>24x7 hours service</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
            </div>
          </div>
        
          <div class="box" data-aos="flip-up">
            <img src="images/service3.svg" alt="">
            <div class="info">
              <h2>certificate distribution</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
            </div>
          </div>
        
        </div>
        
        </section>
        
</section>
<!-- End Schedule -->
<section id="testimonial">

    <h1 class="heading">what our students says</h1>
</section>
<!-- Start Price -->

    <section class="about" id="price">
        
    <div class="container">
        <div class="content">
             <div class="box wow bounceInUp">
                  <div class="inner">
                       <div class="img">
                           <img src="http://www.maquindiana.com.br/2017/wp-content/uploads/2015/03/face_2.jpg" alt="about" />
                       </div>
                     <div class="text">
                          <h4>Abdul</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                     </div>
                  </div>
             </div>
               <div class="box wow bounceInUp" data-wow-delay="0.2s">
                  <div class="inner">
                       <div class="img">
                           <img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/IQ-Accountants-managing-partner-Kyelie-Baxter-Slack-customer-story.en-GB.jpg" alt="about" />
                       </div>
                     <div class="text">
                          <h4>sona</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                     </div>
                  </div>
             </div>
             <div class="box wow bounceInUp" data-wow-delay="0.4s">
                  <div class="inner">
                       <div class="img">
                           <img src="https://www.ssrastrology.com/wp-content/uploads/2020/12/unnamed-4.jpg" alt="about" />
                       </div>
                     <div class="text">
                          <h4>imran</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                     </div>
                  </div>
             </div>
        </div>
    </div>
  </section>
<!-- End Price -->


<!-- Start Gallery -->
  <section class="gallery" id="gallery">
  	 <h2>Contact us</h2>
  	
  </section>
<!-- End Gallery -->

 <!-- Start Contact -->
  <section class="contact" id="contact">
     <div class="container">
        <div class="content">
            <div class="box form wow slideInLeft">
               <form>
                  <input type="text" placeholder="Enter Name">
                  <input type="text" placeholder="Enter Email">
                  <input type="text" placeholder="Enter Mobile">
                  <textarea placeholder="Enter Message"></textarea>
                  <button type="submit">Send Message</button>
               </form>
            </div>
            <div class="box text wow slideInRight">
                 <h2>Get Connected with Gym</h2>
                  <p class="title-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <div class="info">
                      <ul>
                          <li><span class="fa fa-map-marker"></span> Gali no 11, House no 11, New Delhi</li>
                          <li><span class="fa fa-phone"></span> 91 9999999999</li>
                          <li><span class="fa fa-envelope"></span> info@gym.com</li>
                      </ul>
                  </div>
                  <div class="social">
                       <a href=""><span class="fa fa-facebook"></span></a>
                       <a href=""><span class="fa fa-linkedin"></span></a>
                       <a href=""><span class="fa fa-skype"></span></a>
                       <a href=""><span class="fa fa-youtube-play"></span></a>
                  </div>

                  <div class="copy">
                      PowerBy &copy; The WebShala
                  </div>
            </div>
        </div>
     </div>
  </section>
 <!-- End Contact -->



 <!-- jquery -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){

      $(".ham-burger, .nav ul li a").click(function(){
       
        $(".nav").toggleClass("open")

        $(".ham-burger").toggleClass("active");
      })      
      $(".accordian-container").click(function(){
      	$(".accordian-container").children(".body").slideUp();
      	$(".accordian-container").removeClass("active")
      	$(".accordian-container").children(".head").children("span").removeClass("fa-angle-down").addClass("fa-angle-up")
      	$(this).children(".body").slideDown();
      	$(this).addClass("active")
      	$(this).children(".head").children("span").removeClass("fa-angle-up").addClass("fa-angle-down")
      })

       $(".nav ul li a, .go-down").click(function(event){
         if(this.hash !== ""){

              event.preventDefault();

              var hash=this.hash; 

              $('html,body').animate({
                scrollTop:$(hash).offset().top
              },800 , function(){
                 window.location.hash=hash;
              });

              // add active class in navigation
              $(".nav ul li a").removeClass("active")
              $(this).addClass("active")
         }
      })
})

</script>
<script src="js/wow.min.js"></script>
<script src="js/js2.js"></script>
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       0,
      }
    );
    wow.init();
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay:500
    });
</script>
</body>
</html>






